<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
</head>
<body>
	<header><img height="267" width="475" src="/img/ron-disgusted.jpg" alt="Ron Swanson Disgusted" /></header>
	{{{body}}}
</body>
</html>